### PROBLEM STATEMENT
From any text, perform tokenization and reduce tokens to it's source word with lemmatization and stemming.
### SOLUTION

In [29]:
import numpy as np
import pandas as pd

# package to tokenize text
from nltk.tokenize import word_tokenize

from nltk.stem import PorterStemmer

from nltk.stem import WordNetLemmatizer

In [15]:
headings=["Why a hologram revolution could be on the way","Can German engineering solve the challenges of fusion?","Can tech stop India wasting so much of its harvest?","US-China rivalry spurs investment in space tech","The extreme robot arm that can chop up a ship","How to make cars less dangerous for pedestrians","The incredible power of blue LEDs","Robots are trained to help revive coral reefs","Urban oases combine roof gardens and solar panels","How long unitl a robot is doing your chores?"]

In [16]:
# TOKENISING
heading_tokens=[]

for i in range(len(headings)):
    heading_tokens.append(word_tokenize(headings[i]))

In [17]:
# Viewing text
for i in heading_tokens:
    print(i)

['Why', 'a', 'hologram', 'revolution', 'could', 'be', 'on', 'the', 'way']
['Can', 'German', 'engineering', 'solve', 'the', 'challenges', 'of', 'fusion', '?']
['Can', 'tech', 'stop', 'India', 'wasting', 'so', 'much', 'of', 'its', 'harvest', '?']
['US-China', 'rivalry', 'spurs', 'investment', 'in', 'space', 'tech']
['The', 'extreme', 'robot', 'arm', 'that', 'can', 'chop', 'up', 'a', 'ship']
['How', 'to', 'make', 'cars', 'less', 'dangerous', 'for', 'pedestrians']
['The', 'incredible', 'power', 'of', 'blue', 'LEDs']
['Robots', 'are', 'trained', 'to', 'help', 'revive', 'coral', 'reefs']
['Urban', 'oases', 'combine', 'roof', 'gardens', 'and', 'solar', 'panels']
['How', 'long', 'unitl', 'a', 'robot', 'is', 'doing', 'your', 'chores', '?']

In [18]:
# REMOVING PUNCUATIONS
for i in range(len(heading_tokens)):

    # converting to lower case
    for j in range(len(heading_tokens[i])):
        heading_tokens[i][j]=heading_tokens[i][j].lower()

    # removing punctuations
    if ',' in heading_tokens[i]:
        heading_tokens[i].remove(',')

    if '.' in heading_tokens[i]:
        heading_tokens[i].remove('.')
    
    if '?' in heading_tokens[i]:
        heading_tokens[i].remove('?')

In [19]:
# Viewing changes made to text
for i in heading_tokens:
    print(i)

['why', 'a', 'hologram', 'revolution', 'could', 'be', 'on', 'the', 'way']
['can', 'german', 'engineering', 'solve', 'the', 'challenges', 'of', 'fusion']
['can', 'tech', 'stop', 'india', 'wasting', 'so', 'much', 'of', 'its', 'harvest']
['us-china', 'rivalry', 'spurs', 'investment', 'in', 'space', 'tech']
['the', 'extreme', 'robot', 'arm', 'that', 'can', 'chop', 'up', 'a', 'ship']
['how', 'to', 'make', 'cars', 'less', 'dangerous', 'for', 'pedestrians']
['the', 'incredible', 'power', 'of', 'blue', 'leds']
['robots', 'are', 'trained', 'to', 'help', 'revive', 'coral', 'reefs']
['urban', 'oases', 'combine', 'roof', 'gardens', 'and', 'solar', 'panels']
['how', 'long', 'unitl', 'a', 'robot', 'is', 'doing', 'your', 'chores']

In [32]:
heading_dict={}

for i in range(len(heading_tokens)):
    heading_dict[i]=pd.DataFrame(heading_tokens[i],columns={"Original_word"})

In [30]:
# Initialize the WordNet lemmatizer
lemmatizer = WordNetLemmatizer()

In [31]:
# Initialize the stemming object
stemmer = PorterStemmer()

In [37]:
# creating new columns for each dataframe of the lemmatized and stemmed word from the original word
for i in heading_dict:
    heading_dict[i]['Lemmatized_word']=heading_dict[i]['Original_word'].apply(lambda x: lemmatizer.lemmatize(x))
    heading_dict[i]['Stemmed_word']=heading_dict[i]['Original_word'].apply(lambda x: stemmer.stem(x))

#### UNDERSTANDING THE DIFFERENCE BETWEEN LEMMATIZING AND STEMMING

We see that Lemmatizing the word makes sensible english words while stemmed words reduced to word but it is not always sensible as seen below

In [41]:
heading_dict[0].head(10)

  Original_word Lemmatized_word Stemmed_word
0           why             why          whi
1             a               a            a
2      hologram        hologram     hologram
3    revolution      revolution      revolut
4         could           could        could
5            be              be           be
6            on              on           on
7           the             the          the
8           way             way          way

In [42]:
heading_dict[1].head(10)

  Original_word Lemmatized_word Stemmed_word
0           can             can          can
1        german          german       german
2   engineering     engineering        engin
3         solve           solve         solv
4           the             the          the
5    challenges       challenge     challeng
6            of              of           of
7        fusion          fusion       fusion

In [43]:
heading_dict[2].head(10)

  Original_word Lemmatized_word Stemmed_word
0           can             can          can
1          tech            tech         tech
2          stop            stop         stop
3         india           india        india
4       wasting         wasting         wast
5            so              so           so
6          much            much         much
7            of              of           of
8           its              it           it
9       harvest         harvest      harvest

In [44]:
heading_dict[3].head(10)

  Original_word Lemmatized_word Stemmed_word
0      us-china        us-china     us-china
1       rivalry         rivalry      rivalri
2         spurs            spur         spur
3    investment      investment       invest
4            in              in           in
5         space           space        space
6          tech            tech         tech